{% extends 'layout.html' %}


{% block content %}

<div class="container-fluid" style="height:700px; width:1000px; border: 1px solid  black;">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-white" href="/addbus">Add New Bus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/editbus">Edit Bus details</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="/userdetails">Users Pass Details</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="/logoutadmin">Logout</a>
      </li>

    </ul>
  </div>
</nav>

    <div class="container info-boxes pt100 pb100">
        <p></p>
        <h1>Users Pass Details</h1>
        <table class="content-table" cellpadding="13" cellspacing="1"
               style="margin-left: auto; margin-right: auto; border: 1px solid black;  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
                      ">
            <thead>
             <tr style="background-color: #009879; color: #ffffff;">
                <th>User ID</th>
                <th>Bus no.</th>
                <th>Full Name</th>
                 <th>Source</th>
                <th>Destination</th>
                <th>Starting Date</th>
                <th>Limited to</th>
            <!--     <th>Profile Image</th> -->
             </tr>
            </thead>
           <tbody>
            <tr style="border-bottom: 1px solid #dddddd;">
             {% for bus in userDetails %}
                <td>{{ bus.user_id }}</td>
                <td>{{ bus.Busno }}</td>
                <td>{{ bus.full_name }}</td>
                <td>{{ bus.From }}</td>
                <td>{{ bus.To }}</td>
                <td>{{ bus.Date1 }}</td>
                <td>{{ bus.Date2 }}</td>
              <!--  <td><img src=""></td> -->
            </tr>
          {% endfor %}
           </tbody>
        </table>

    </div>

</div>

{% endblock content %}